.ipynb_checkpoints/Project_Data-checkpoint.csv
.ipynb_checkpoints/Swan Dan-checkpoint.ipynb
.ipynb_checkpoints/SWAN_HENA-checkpoint.ipynb
.ipynb_checkpoints/swan_jacob-checkpoint.ipynb
.ipynb_checkpoints/SwanKiril-checkpoint.ipynb
.ipynb_checkpoints/SwanMaster-checkpoint.ipynb
.ipynb_checkpoints/the maste file-checkpoint.ipynb
